/.idea
/build
/report
/migrations
/storage
/vendor
/venv
/site
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
check_migrations.sh
composer.lock
coverage.xml
phpunit.xml
.env
*.log
*.dbml
*.sql
