/.idea
/build
/docker
/report
/migrations
/storage
/vendor
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
check_migrations.sh
docker-compose.yml
composer.lock
coverage.xml
phpunit.xml
