includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 8

    # `env` calls from `tests` directory are allowed
    noEnvCallsOutsideOfConfig: false

    excludePaths:
        - ./tests/resources/**
