includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Class Dotenv\\Dotenv constructor invoked with 1 parameter, 4 required.#'
        - '#Parameter \#1 \$store of class Dotenv\\Dotenv constructor expects Dotenv\\Store\\StoreInterface, string given.#'
        - '#Constant (.*)\\Enum\\(.*) is unused#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
